.App {
  text-align: center;
}
.red{
  color: red;
}

.bold{
  font-weight: bold;
}

.App button{
  border : 1px solid blue;
  background-color: green;
  padding: 8px;
  margin: 10px;
  cursor: pointer;
}

.App button:hover{
  background-color: lightgreen;
  color : white;
}

.App button.red {
  background-color: red;
  color: black;
}

.App button.red:hover{
  background-color: salmon;
  color:white;
}